@page "/counter"

<h1 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Feel free to contact us at this link our helpful customer service will reply you asap!</h1>
<a href="mailto:merrickrooney@gmail.com"style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
    Contact us
</a>