@page "/FoodSelect"
<h3>FoodSelect</h3>


<p style="font-size: 2rem; color: darkred">Top Pick.</p>
<div class="sushi" , style="width:110px; height:110px; text-align:center;">
    <p style="background-color: #F6F6F6;border:3px solid lightgrey">
        <img src="/Pictures/susho.png" width="100" height="100" alt="Sushi" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
        Sushi
    </p>
</div>

@code {

}
