@page "/ty"
<h1 style="color:forestgreen; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">Payment successful</h1>
<a href="/UserOrders" class="btn btn-secondary" style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
    <span class="oi oi-eye"></span>
    View Your Order
</a>