@page "/Events/create"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3>Create Event</h3>
<br />
<hr />

<EditForm Model="@events" OnValidSubmit="CreateCatergory">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Name</label>
        <InputText @bind-Value="@events.Name" class="form-control" />
        <ValidationMessage For="@(()=>events.Name)" />

    </div>
    <button type="submit" class="btn btn-success btn-block">
        Create Event

    </button>
</EditForm>

@code {
    Events events = new Events();


    private async Task CreateCatergory()
    {
        await _client.PostAsJsonAsync(EndPoint.EventsEndPoint, events);
        _navManager.NavigateTo("/Events/");
    }
}

