@page "/Events/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@inject HttpInterceptorService _interceptor
@implements IDisposable
@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider

@if (Events == null)
{
    <div class="alert alert-info">Loading Events...</div>
}

else
{
    if (_currentUserRole == "Administrator")
    {
        <h3>Events</h3>
        <a href="/Events/create" class="btn btn-secondary">
            <span class="oi oi-plus"></span>
            Create New Event
        </a>
        <br />
        <br />
        <table class="table table-responsive" id="eventTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Event in Events)
                {
                    <tr>
                        <td>@Event.Name</td>
                        <td>
                            <a href="/Events/view/@Event.Id" class="btn btn-primary">
                                <span class="oi oi-book"></span>
                            </a>
                            <a href="/Events/edit/@Event.Id" class="btn btn-warning">
                                <span class="oi oi-pencil"></span>
                            </a>
                            <button class="btn btn-danger" @onclick="@(() => Delete(Event.Id))">
                                <span class="oi oi-delete"></span>
                            </button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
    if (@_currentUserRole != "Administrator")
    {

        <h1 class="text-danger">

            You are not authorized to access this resource.
        </h1>

    }
}




@code {
    private List<Events> Events;
    private IEnumerable<Claim> _claims = Enumerable.Empty<Claim>();
    private string _currentUserId;
    private string _currentUserName;
    private string _currentUserRole;

    protected async override Task OnInitializedAsync()
    {
        _interceptor.MonitorEvent();
        Events = await _client.GetFromJsonAsync<List<Events>>($"{EndPoint.EventsEndPoint}");
        var authState = await
        AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            _claims = user.Claims;
            //_currentUserName = user.Identity.Name;
            if (_claims.Count() > 0)
            {
                foreach (var claim in _claims)
                {
                    if (claim.Type == "sub")
                    {
                        _currentUserId = claim.Value;
                        continue;
                    }
                    if (claim.Type == "name")
                    {
                        _currentUserName = claim.Value;
                        continue;
                    }
                }
            }
        }
        if (_currentUserId != String.Empty)
        {
            _currentUserRole = await
            _client.GetStringAsync($"{EndPoint.AccountsEndPoint}/{_currentUserId}");
        }
    }

    async Task Delete(int EventId)
    {
        var Event = Events.First(q => q.Id == EventId);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {Event.Name}?");
        if (confirm)
        {
            await _client.DeleteAsync($"{EndPoint.EventsEndPoint}/{EventId}");
            await OnInitializedAsync();
        }
    }
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("AddDataTable", "#eventTable");
    }
    public void Dispose()
    {
        js.InvokeVoidAsync("DataTablesDispose", "#eventTable");
        _interceptor.DisposeEvent();
    }

}
